# Core API
fastapi
uvicorn
python-multipart
requests

# Security & Encryption
cryptography

langchain
langchain-community
langchain-chroma
langchain-ollama
chromadb
sentence-transformers
pypdf

# Privacy (PII)
presidio-analyzer
presidio-anonymizer
spacy
# Note: You also need the model 'en_core_web_lg' or 'en_core_web_sm'
# Run: python -m spacy download en_core_web_lg

# Gmail API
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
